# Environments & Secrets
venv/
.env

# Python Bytecode
__pycache__/
*.pyc

# Dependencies (Keep package.json tracked)
node_modules/
dist/
build/

# Local Databases & Logs
*.db
*.sqlite3
*.log

# Editor & OS Artifacts
.vscode/
.idea/
.DS_Store
Thumbs.db